/* colors*/
:root {
  --primary-color: #a8a8a8;
  --secondary-color: #ffcb05;
  --background-color: #565656;
}

/*general page styling*/
body {
  background-color: var(--background-color);
  font-family: "Tilt Warp", cursive;
  font-weight: 400;
}

#title {
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Modal styling */
/*default hide modal container*/
#modal-container {
  display: none;
}

/*modal container visible when "is-visible" class is added*/
/*for some reason this is not overwriting the #modal-container rule above to display none even though it should...*/
#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
}

.modal-close {
  float: right;
  color: #777;
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
}

/*Pokemon List Styling*/
.button-class {
  /* overwrites browser defaults and resets the border */
  border: none;
  /* remember to add font when I set for whole site; font-family: inherit; */

  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: black;
  color: white;
  text-decoration: none;
  /*adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition-duration: 0.2s;
  transition-property: opacity;
  margin-bottom: 5px;
}

.button-class:hover,
.button-class:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.pokemon-list {
  list-style-type: none;
}

/*list container styling*/
.container {
  max-width: 200px;
  margin: 20px auto;
  background-color: var(--primary-color);
  padding: 5px;
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
}

.title {
  width: 100%;
  text-align: center;
  color: var(--secondary-color);
}

/*Reminder to make @media for smaller devices for modal max width 300*/
